src/main/java/de/uni_hamburg/corpora/conversion/resources/xsd/morphemebasedISOTEI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.tei-c.org/ns/1.0" xmlns:tei="http://www.tei-c.org/ns/1.0">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="xml.xsd"/>
  <xs:element name="TEI">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:teiHeader"/>
        <xs:element ref="tei:text"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="teiHeader">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:fileDesc"/>
        <xs:element ref="tei:profileDesc"/>
        <xs:element ref="tei:encodingDesc"/>
        <xs:element ref="tei:revisionDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="fileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:titleStmt"/>
        <xs:element ref="tei:publicationStmt"/>
        <xs:element ref="tei:sourceDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="titleStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:title"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="title">
    <xs:complexType/>
  </xs:element>
  <xs:element name="publicationStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:authority"/>
        <xs:element ref="tei:availability"/>
        <xs:element ref="tei:distributor"/>
        <xs:element ref="tei:address"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="authority">
    <xs:complexType/>
  </xs:element>
  <xs:element name="availability">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:licence"/>
        <xs:element ref="tei:p"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="licence">
    <xs:complexType>
      <xs:attribute name="target" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="p">
    <xs:complexType/>
  </xs:element>
  <xs:element name="distributor">
    <xs:complexType/>
  </xs:element>
  <xs:element name="address">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:addrLine"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addrLine">
    <xs:complexType/>
  </xs:element>
  <xs:element name="sourceDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:recordingStmt"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recordingStmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:recording"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recording">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:media"/>
        <xs:element ref="tei:broadcast"/>
        <xs:element ref="tei:equipment"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="media">
    <xs:complexType>
      <xs:attribute name="mimeType" use="required"/>
      <xs:attribute name="url" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="broadcast">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:ab"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="equipment">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:ab"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="profileDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:particDesc"/>
        <xs:element ref="tei:settingDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="particDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:person"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="person">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:persName"/>
      </xs:sequence>
      <xs:attribute name="n" use="required" type="xs:NCName"/>
      <xs:attribute name="sex" use="required" type="xs:integer"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="persName">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:abbr"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="abbr" type="xs:NCName"/>
  <xs:element name="settingDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:place"/>
        <xs:element ref="tei:setting"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="place">
    <xs:complexType/>
  </xs:element>
  <xs:element name="setting">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:activity"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="activity">
    <xs:complexType/>
  </xs:element>
  <xs:element name="encodingDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:appInfo"/>
        <xs:element ref="tei:transcriptionDesc"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="appInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:application"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="application">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:label"/>
        <xs:element ref="tei:desc"/>
      </xs:sequence>
      <xs:attribute name="ident" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:NMTOKEN"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="transcriptionDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:desc"/>
        <xs:element ref="tei:label"/>
      </xs:sequence>
      <xs:attribute name="ident" use="required" type="xs:NCName"/>
      <xs:attribute name="version" use="required" type="xs:integer"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="revisionDesc">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:change"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="change">
    <xs:complexType mixed="true">
      <xs:attribute name="when" use="required" type="xs:dateTime"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:timeline"/>
        <xs:element ref="tei:body"/>
      </xs:sequence>
      <xs:attribute ref="xml:lang" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="timeline">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:when"/>
      </xs:sequence>
      <xs:attribute name="unit" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="when">
    <xs:complexType>
      <xs:attribute name="interval" type="xs:decimal"/>
      <xs:attribute name="since" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="body">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:annotationBlock"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="annotationBlock">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:u"/>
        <xs:element maxOccurs="unbounded" ref="tei:spanGrp"/>
      </xs:sequence>
      <xs:attribute name="end" use="required" type="xs:NCName"/>
      <xs:attribute name="start" use="required" type="xs:NCName"/>
      <xs:attribute name="who" use="required" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="u">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="tei:anchor"/>
        <xs:element ref="tei:seg"/>
      </xs:choice>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="seg">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded">
        <xs:element ref="tei:anchor"/>
        <xs:element ref="tei:incident"/>
        <xs:element ref="tei:pc"/>
        <xs:element ref="tei:w"/>
      </xs:choice>
      <xs:attribute name="subtype" use="required" type="xs:NCName"/>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="incident">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tei:desc"/>
      </xs:sequence>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="pc">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="w">
    <xs:complexType mixed="true">
      <xs:attribute name="type" type="xs:NCName"/>
      <xs:attribute ref="xml:id" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="spanGrp">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" ref="tei:span"/>
      </xs:sequence>
      <xs:attribute name="type" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ab">
    <xs:complexType/>
  </xs:element>
  <xs:element name="label" type="xs:string"/>
  <xs:element name="desc" type="xs:string"/>
  <xs:element name="anchor">
    <xs:complexType>
      <xs:attribute name="synch" use="required" type="xs:NCName"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="span">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="tei:span"/>
      </xs:sequence>
      <xs:attribute name="from" type="xs:NCName"/>
      <xs:attribute name="to" type="xs:NCName"/>
      <xs:attribute ref="xml:id"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
